.resource-hero {
    position: relative;
    margin-top: 10em;
    margin-bottom: 8em;
    min-width: 50vh;
    .info {
        width: 38%;
        .btn-link {
            padding: 0;
            i {
                margin-right: 0.5em;
                margin-left: 0;
                font-size: 30px;
            }
        }
        h3 {
            margin-top: 1.5em;
            margin-bottom: 0.5em;
        }
        & > p {
            margin-right: 15%;
        }
        .props {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-bottom: 2em;
            strong,
            span {
                font-size: 13px; // chnage to rem
                margin-right: 1em;
                white-space: nowrap;
            }

            span {
                font-weight: 700;
                color: $gray;
            }
        }
    }
    .image {
        position: absolute;
        right: 0;
        top: 0;
        width: 45%;
        padding-right: 60px;
        padding-top: 70px;
        background-image: url("/assets/img/svg/art-res-dotbox.svg");
        background-size: 65%;
        background-repeat: no-repeat;
        background-position: top right;
        cursor: pointer;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
        }
    }

    &.video {
        .image:after {
            content: "";
            position: absolute;
            z-index: 2;
            left: 0;
            top: 70px;
            right: 60px;
            bottom: 0;
            background-image: url("/assets/img/svg/icon-play-round.svg");
            background-size: 100px 100px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &.case-study {
        .info {
            .company {
                display: flex;
                flex-direction: column;
                a {
                    font-weight: 700;
                    font-size: 1.5em;
                    color: $black
                }
            }
            .metrics {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                grid-gap: 4em;
            }
        }
        .image {
            background: none;
            padding: 0;
            margin: 0;
        }
    }
}

@include media("<=tablet2x") {
    .resource-hero {
        margin-top: 8em;
        margin-bottom: 3em;
        .info {
            width: 100%;
        }
        .image {
            background: none;
            padding: 0;
            margin: 0;
            position: relative;
            width: 100%;
            margin-top: 4em;
            margin-bottom: 5em;
            img{
                width: 100%;
            }
        }
        &.video {
            .image:after {
                top: 0;
                right: 0;
            }
        }

    }
}
