<section class="career-form" id="apply-form">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 m-auto">
                <form action="/">
                    <div class="input labeled">
                        <label>First Name <i class="mdi mdi-asterisk"></i></label>
                        <input type="text" placeholder="Enter your first name" />
                    </div>
                    <div class="input labeled">
                        <label>Last Name <i class="mdi mdi-asterisk"></i></label>
                        <input type="text" placeholder="Enter your last name" />
                    </div>
                    <div class="input labeled">
                        <label>Email Address <i class="mdi mdi-asterisk"></i></label>
                        <input type="email" placeholder="john.mark@example.com" />
                    </div>
                    <div class="input labeled">
                        <label>Phone Number</label>
                        <input type="tel" placeholder="+234 567 xxx-xxxx" />
                    </div>
                    <div class="input labeled">
                        <label>Linkedin Profile</label>
                        <input type="text" placeholder="http://" />
                    </div>
                    <div class="input labeled">
                        <label>Referrer</label>
                        <input type="text" placeholder="Enter name of referrer" />
                    </div>
                    <hr />

                    <div class="input-file">
                        <label>Resume <span>Attach a PDF document</span></label>
                        <input type="file" hidden accept="*.pdf" />
                        <div class="input-result">
                            <a class="btn btn-primary small">
                                <span>Upload</span>
                                <i class="mdi mdi-upload"></i>
                            </a>
                            <a class="btn btn-primary btn-remove small">
                                <span>Remove</span>
                            </a>
                            <p>myResume.pdf</p>
                        </div>
                    </div>

                    <div class="input-file attached">
                        <label>Cover Letter <span>Attach a PDF document</span></label>
                        <input type="file" hidden accept="*.pdf" />
                        <div class="input-result">
                            <a class="btn btn-primary small">
                                <span>Upload</span>
                                <i class="mdi mdi-upload"></i>
                            </a>
                            <a class="btn btn-primary btn-remove small">
                                <span>Remove</span>
                            </a>
                            <p>myCoverLetter.pdf</p>
                        </div>
                    </div>
                    <hr />
                    <button type="submit" class="btn btn-primary">
                        <span>Sumbit Your Request</span>
                        <i class="mdi mdi-arrow-right"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>