<section class="about-brief">
    <div class="banner">
        <img src="/assets/img/png/about/about-banner.png" height="200" />
    </div>

    <div class="quote">
        <div class="container">
            <h3>Through our smart technologies, <br />we enable a better everyday life for millions of people</h3>
        </div>
    </div>

    <div class="container">
        <div class="info">
            <p>Structured Energy Systems (SES) is a subsidiary of Structured Resource Business Limited (SRBL), a wholly
                owned Nigerian business-to-business service company dedicated to working with financial service
                institutions
                to design, develop and deploy cost-effective infrastructure solutions.</p>

            <p>Structured Energy Systems specializes in the deployment and maintenance of ATMs and self-service
                terminals
                [i.e. iKiosks TM], provision of e-Banking security solutions and deployment and maintenance of power
                back-up
                solutions (UPS, AVRs, Solar systems and Inverters [firefly TM] ) amongst other innovative business
                solutions.</p>
        </div>
    </div>
</section>