<section class="home-partners">
    <div class="container" #container>
        <h2 class="heading">
            Powering <br />
            <em>Great Businesses</em>
        </h2>
        <p>Creating digital advantages for customers, banks and global financial institutions.</p>
    </div>
    <div class="scroller" #scroller>
        <div class="scroll-wrap">
            <div class="partners">
                <h1>Banks</h1>
                <div class="logos">
                    <a href="#">
                        <img src="/assets/img/png/partners/color-full/fcmb.png" />
                    </a>
                    <a href="#">
                        <img src="/assets/img/png/partners/color-full/unionbank.png" />
                    </a>
                    <a href="#">
                        <img src="/assets/img/png/partners/color-full/ecobank.png" />
                    </a>
                    <a href="#">
                        <img src="/assets/img/png/partners/color-full/polaris.png" />
                    </a>
                    <a href="#">
                        <img src="/assets/img/png/partners/color-full/sterling.png" />
                    </a>
                    <a href="#">
                        <img src="/assets/img/png/partners/color-full/zenith.png" />
                    </a>
                    <a href="#">
                        <img src="/assets/img/png/partners/color-full/fidelity.png" />
                    </a>
                    <a href="#">
                        <img src="/assets/img/png/partners/color-full/heritage.png" />
                    </a>
                </div>
            </div>
            <div class="partners">
                <h1>Others</h1>
                <div class="logos">
                    <a href="#">
                        <img src="/assets/img/png/partners/color-full/chevron.png" />
                    </a>
                    <a href="#">
                        <img src="/assets/img/png/partners/color-full/shell.png" />
                    </a>
                    <a href="#">
                        <img src="/assets/img/png/partners/color-full/apm-terminal.png" />
                    </a>
                    <a href="#">
                        <img src="/assets/img/png/partners/color-full/crcc.png" />
                    </a>
                    <a href="#">
                        <img src="/assets/img/png/partners/color-full/ncr.png" />
                    </a>
                    <a href="#">
                        <img src="/assets/img/png/partners/color-full/airtel.png" />
                    </a>
                    <a href="#">
                        <img src="/assets/img/png/partners/color-full/tsl.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>