<section class="home-contact">
    <div class="container">
        <div class="row">
            <div class="col-12 info-wrap">
                <div class="info">
                    <img src="/assets/img/svg/icon-ng.svg" />
                    <h5>Nigeria</h5>
                    <p>13 Alhaji Bashorun Street, Off Norman Williams Street, Ikoyi, Lagos, Nigeria.</p>
                </div>

                <div class="info">
                    <img src="/assets/img/svg/icon-gh.svg" />
                    <h5>Ghana</h5>
                    <p>5a Osu Badu Street, Airport West, Accra, Ghana.</p>
                </div>

                <div class="info">
                    <i class="mdi mdi-email-open"></i>
                    <h5>Email</h5>
                    <p><a href="mailto:info@structuredresources.com">info@structuredresources.com</a></p>
                </div>

                <div class="info">
                    <i class="mdi mdi-phone-classic"></i>
                    <h5>Email</h5>
                    <p>
                        <a href="tel:+234014631468">+234 (0) 1 463 1468</a>
                        <br />
                        <a href="tel:+14631469">+1 463 1469</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>