.solution-benefits {
    position: relative;
    z-index: 5;
    overflow: visible;
    margin-bottom: 10em;
    .benefit-box {
        position: relative;
        padding: 3em 10% 2em 10%;
        &:before {
            content: "";
            position: absolute;
            z-index: 1;
            left: 6%;
            right: 6%;
            bottom: 0;
            height: 50%;
            box-shadow: 0px 10px 30px rgba($orange, 0.2);
        }
        &:after {
            content: "";
            position: absolute;
            z-index: 2;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: $white;
        }
        & > * {
            position: relative;
            z-index: 4;
        }

        h3 {
            font-size: 3rem;
            font-weight: 800;
            text-align: center;
            margin-bottom: 1em;
        }
        ul {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            li {
                position: relative;
                display: inline-flex;
                align-items: center;
                list-style: none;
                width: 50%;
                padding-left: 5em;
                height: 80px;
                border-bottom: 1px solid rgba($black, 0.1);
                font-weight: 600;
                line-height: 140%;
                &:before {
                    content: "";
                    position: absolute;
                    left: 1.75em;
                    top: calc(50% - 12.5px);
                    width: 25px;
                    height: 25px;
                    background-image: url("/assets/img/svg/icon-bullet.svg");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                &:nth-child(2n + 1) {
                    border-right: 1px solid rgba($black, 0.1);
                }
                &:last-child,
                &:nth-child(2n + 1):last-child,
                &:nth-child(2n + 1):nth-last-child(2) {
                    border-bottom: none;
                }
            }
        }
    }
}


@include media("<=tablet2x") {
    .solution-benefits {
        .benefit-box {
            ul {
                padding-inline-start: 0;
                li {
                    width: 100%;
                    height: auto;
                    margin-bottom: .5rem;
                    padding-left: 4.4em;
                    &:nth-child(2n + 1) {
                        border-right: none;
                    }
                }
            }
        }
    }
}