<section class="home-brief">
    <div class="quote">
        <div class="container">
            <h3>We offer self service, power, banking, antifraud compliance solutions and more...</h3>
        </div>
    </div>
    <div class="container">
        <p>Structured Energy Systems currently operates from Lagos, Nigeria. SES has staff located in strategic
            locations across Nigeria to meet its customer demands and requests. The organizations local and
            international partnerships enable the company offer best-in-class products and services to meet its
            customer’s needs, budget and application demands.</p>
        <a class="btn btn-link pl-0">
            <span>Learn more</span>
            <i class="mdi mdi-arrow-right"></i>
        </a>
    </div>
    <div class="image">
        <img src="/assets/img/png/brief-img.png" />
    </div>
</section>