.contact-map {
    position: relative;
    padding-top: 16.5em;
    padding-bottom: 15em;
    &:before {
        content: "";
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        bottom: 0;
        height: 85%;
        background-color: rgba($orange, 0.06);
    }
    &:after {
        content: "";
        position: absolute;
        z-index: 3;
        left: 0;
        top: 0;
        width: 240px;
        height: 220px;
        background-image: url("/assets/img/svg/art-boxes.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .container {
        position: relative;
        z-index: 3;
        & > svg {
            width: 100%;
            height: auto;
        }

        .contact-info {
            position: absolute;
            right: 0;
            top: 100px;
            padding: 4.5em;
            width: 48%;
            &:before {
                content: "";
                position: absolute;
                z-index: 1;
                left: 6%;
                right: 6%;
                bottom: 0;
                height: 50%;
                box-shadow: 0px 10px 30px rgba($orange, 0.2);
            }
            &:after {
                content: "";
                position: absolute;
                z-index: 2;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background-color: $white;
            }
            & > * {
                position: relative;
                z-index: 3;
            }
            & > h3 {
                margin-bottom: 0.75em;
                font-size: 3rem;
                font-weight: 800;
            }
            .info-sec {
                margin-bottom: 1.5em;
                h5 {
                    img {
                        display: inline-block;
                        margin-left: 15px;
                        width: 30px;
                        height: 30px;
                        border-radius: 15px;
                    }
                }
                p,
                a {
                    display: block;
                    color: rgba($black, 0.6);
                    font-weight: 500;
                    font-size: 1.125rem;
                    line-height: 140%;
                }
                & > div {
                    margin-bottom: 1.5em;
                }
            }
        }
    }
}
