.home-contact {
    padding: 7em 0;
    .info-wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

        .info {
            width: auto;
            max-width: 220px;
            img {
                width: 40px;
                height: 40px;
                border-radius: 20px;
            }
            i {
                font-size: 2rem;
                color: $orange;
            }
            h5 {
                margin-top: 1em;
                font-weight: 700;
            }
            p {
                line-height: 150%;
                a {
                    color: rgba($black, 0.8);
                }
            }
        }
    }
}

@include media("<=tablet") {
    .home-contact .info-wrap {
        .info {
            width: calc(50% - 1em);
            max-width: none;
            margin-bottom: 2em;
        }
    }
}

@include media("<=tablet") {
    .home-contact {
        padding: 5em 0;
        .info-wrap {
            .info {
                width: calc(100% - 1em);
            }
        }
    }
}
