.home-services {
    padding: 10em 0 7.5em 0;
    background-color: rgba($orange, 0.05);
    overflow: hidden;
    .container > div {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: 3em;
        padding-bottom: 4em;
        position: relative;
        &:before {
            content: "SES";
            position: absolute;
            left: -100px;
            top: -100px;
            font-size: 6.875rem;
            font-weight: 900;
            color: rgba($black, 0.05);
            z-index: 1;
        }
        & > div {
            position: relative;
            z-index: 2;
        }
        &.service-compliance {
            &:before {
                content: "Compliance";
            }
        }
        &.service-self {
            &:before {
                content: "Self Service";
            }
        }
        &.service-security {
            &:before {
                content: "App Security";
            }
        }
        &.service-plain {
            &:before {
                content: "";
            }
        }
    }
}

@include media("<=phone2x") {
    .home-services {
        padding: 7.5em 0;
        .container > div:before {
            left: -10px;
            top: -60px;
            font-size: 3.875rem;
            width: 500px;
        }
    }
}
