.about-approach {
    padding: 10em 0;

    img {
        height: 70px;
        width: auto;
    }
    h5 {
        margin-top: 1em;
        font-size: 30px;
    }
    p {
        font-size: 0.813rem;
        padding-right: 15%;
    }
}
