// General Page Hero for other pages & solutions

.hero {
    padding-top: 22vh;
    min-height: 60vh;
    h2 {
        font-weight: 900;
    }
    &.plain {
        padding-top: 28vh;
        .container {
            position: relative;
            &:before {
                content: "";
                position: absolute;
                z-index: 1;
                top: 0;
                right: 0;
                height: 240px;
                width: 280px;
                background-color: rgba($yellow, 0.1);
            }
            .info {
                position: relative;
                z-index: 2;
                text-align: center;
                margin-bottom: 1em;
                h2 {
                    width: 70%;
                    text-align: center;
                    margin: 0 auto;
                }
                p {
                    width: 40%;
                    text-align: center;
                    margin: 1em auto 2em auto;
                }

                .search-form {
                    width: 60%;
                    margin: 0 auto;
                }
            }
        }
    }

    &.illustrated {
        margin-bottom: 15em;
        .container .info {
            width: 55%;
            h2 {
                width: 90%;
            }
            p {
                width: 75%;
                margin: 1em 0 3em 0;
            }
            label {
                font-weight: 800;
                text-transform: uppercase;
                color: $orange;
                font-size: 14px;
            }
        }
        .image {
            position: absolute;
            right: 0;
            top: 16.5vh;
            width: 50%;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

@include media("<=tablet2x") {
    .hero {
        min-height: auto;
        &.illustrated {
            margin-bottom: 8rem;
            .container {
                max-width: 100%;
                .info {
                    width: 90%;
                    margin: auto;
                    p {
                        width: 100%;
                        margin: 1rem 0 2rem 0;
                    }
                    .btn {
                        padding: 0.3rem 1.2rem;
                    }
                }
            }
            .image {
                width: 90%;
                position: relative;
                top: 8vh;
            }
        }
    }
}

@include media("<=tablet") {
    .hero {
        &.plain {
            padding-top: 20vh;
            .container {
                &:before {
                    height: 12.5rem;
                    width: 16.25rem;
                }
                .info {
                    h2 {
                        width: 85%;
                    }
                    p {
                        width: 55%;
                    }
                }
            }
        }
    }
}
@include media("<=phone2x") {
    .hero {
        &.plain {
            padding-top: 25vh;
            .container {
                &:before {
                    height: 11.25rem;
                    width: 13.75rem;
                }
                .info {
                    h2 {
                        width: 95%;
                    }
                    p {
                        width: 95%;
                    }
                }
            }
        }
    }
}
