<section class="schedule-modal enquiry">
    <div class="box">
        <a class="close-btn">
            <i class="mdi mdi-close"></i>
        </a>

        <div class="content">
            <h3>Can we talk about the<br />
                <em>{{serviceTitle}}</em> <br />sometime?
            </h3>

            <form action="/" method="POST">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="input labeled">
                            <label>First Name</label>
                            <input type="text" placeholder="Enter your first name" />
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="input labeled">
                            <label>Last Name</label>
                            <input type="text" placeholder="Enter your last name" />
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="input labeled">
                            <label>Email Address</label>
                            <input type="email" placeholder="john.mark@example.com" />
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="input labeled">
                            <label>Phone Number</label>
                            <input type="tel" placeholder="+234 567 xxx-xxxx" />
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input labeled">
                            <label>Schedule a Date</label>
                            <input type="text" placeholder="Pick a date" />
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">
                    <span>Sumbit Enquiry</span>
                    <i class="mdi mdi-arrow-right"></i>
                </button>
            </form>
        </div>
    </div>
</section>